In [6]:
import pandas as pd
import re
import contractions
import unidecode

#load all datasets
business_df = pd.read_csv(filepath_or_buffer="D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\word2mouth\\business.csv")
menu_df = pd.read_csv(filepath_or_buffer="D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\word2mouth\\menus.csv")
reviews_df = pd.read_csv(filepath_or_buffer="D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\word2mouth\\reviews.csv")

In [42]:
#fix stars for each review
reviews_df['stars'] = reviews_df['stars'].apply(lambda x: x[0:3])
reviews_df['stars'] = pd.to_numeric(reviews_df['stars'])
reviews_df['text'] = reviews_df['text'].apply(lambda x : x.lower())
reviews_df['text'] = reviews_df['text'].apply(lambda x : unidecode.unidecode(x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('[0-9":-\\\/\$()]', ' ', x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('[\n]',' ', x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('[-]*', '', x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('[.]+','.', x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('\*', ' ',x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : re.sub('[ ]+', ' ',x))
reviews_df['text'] = reviews_df['text'].apply(lambda x : contractions.fix(x));


# #convert 25 reviews from san tung to txt files for annotation


# for index, row in san_tung_reviews.iterrows():
#     with open("D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\annotation\\"+str(index)+".txt", "w") as text_file:
#         text_file.write(row['text'])

In [46]:
san_tung_reviews = reviews_df[reviews_df['business_id'] == 1117].head(26)
san_tung_reviews.to_csv("annotated reviews.csv")

In [190]:
import csv
sentences = ""
for index, row in san_tung_reviews.iterrows():
    sentences = sentences + row['text']
list_sentences = sentences.split(".")
# print(list_sentences)
sentiment_train = open("sentiment_train.csv",'w')
# Create Writer Object
wr = csv.writer(sentiment_train, dialect='excel')
    
for item in list_sentences:
    item = item.strip()
    sentiment_train.write(item+ "\n")

In [27]:
chicago_menus_df = pd.read_csv(filepath_or_buffer="D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\menus.csv")
chicago_reviews_df= pd.read_csv(filepath_or_buffer="D:\\UMass\\Fall 18\\COMPSCI 585 NLP\\Project\\cleaned_review.csv")

#before dropping duplicates
print(chicago_menus_df.shape, chicago_reviews_df.shape)
#drop duplicates
chicago_menus_df.drop_duplicates(inplace=True)
chicago_reviews_df.drop_duplicates(inplace=True)
#after dropping duplicates
print(chicago_menus_df.shape, chicago_reviews_df.shape)

(332, 3) (1243, 7)
(319, 3) (1181, 7)

In [28]:
#same for others
#before dropping duplicates
print(menu_df.shape, reviews_df.shape)
#drop duplicates
menu_df.drop_duplicates(inplace=True)
reviews_df.drop_duplicates(inplace=True)
#after dropping duplicates
print(menu_df.shape, reviews_df.shape)

(277, 3) (489, 6)
(275, 3) (469, 6)

In [36]:
#normalize menus - lowercase, remove accents and special chars
new_menu_df = menu_df.append(chicago_menus_df)
new_menu_df['menu_items'] = new_menu_df['menu_items'].apply(lambda x: x.lower())
new_menu_df['menu_items'] = new_menu_df['menu_items'].apply(lambda x: re.sub('[0-9":-\\\/\$()\*]',' ',x))
new_menu_df['menu_items'] = new_menu_df['menu_items'].apply(lambda x: re.sub(' +',' ',x))
new_menu_df['menu_items'] = new_menu_df['menu_items'].apply(lambda x: unidecode.unidecode(x))

#write combined file, remember to set index to false!
new_menu_df.to_csv("all_menus.csv", index = False)

In [43]:
reviews_df.head(5)

,review_id,user_name,business_id,stars,date,text
0,NaN,Alex K.,1118,3.0,10/30/2018,"this dosa location has a very romantic, upscal..."
1,NaN,Alison W.,1118,4.0,10/11/2018,i would never had south indian cuisine or dosa...
2,NaN,Avantika A.,1118,5.0,10/8/2018,loved the chilli uttapam ! as someone who hail...
3,NaN,Ramya R.,1118,3.0,9/27/2018,this restaurant has a beautiful ambience but t...
4,NaN,N N.,1118,3.0,9/25/2018,tried this place for lunch last weekend. had h...

In [40]:
chicago_reviews_df.drop(['restaurant_name'], inplace=True, axis = 1)

In [45]:
new_reviews_df = reviews_df.append(chicago_reviews_df)
new_reviews_df.to_csv("all_reviews.csv")