In [ ]:
import pandas as pd
import spacy

In [ ]:
# sample spacy similarity
nlp = spacy.load('en')  # make sure to use larger model -> later
tokens = nlp(u'dog cat banana')

for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

In [ ]:
# read all CSV files
pred_ents = pd.read_csv("predictions.csv")
# reviews = pd.read_csv("all_reviews.csv")
# menus = pd.read_csv("all_reviews.csv")

In [ ]:
# combine reviews and annotations; drop unnecessary cols
print("predicted entities = ",pred_ents.shape)
print("reviews = ",reviews.shape)
reviews_with_ents = reviews.merge(right = pred_ents,how = 'inner',on ='review_id', sort = True)
print("Merged = ", reviews_with_ents.shape)
reviews_with_ents.head()

In [ ]:
reviews_with_ents.drop(['user_name', 'business_id_y'], axis = 1, inplace = True)
reviews_with_ents.columns = ['review_id', 'business_id', 'stars', 'date', 'text', 'entities']
reviews_with_ents.head()

In [ ]:
pred_ents['entities'][0]

In [ ]:
reviews['sentences'] = reviews['text'].apply(lambda x: x.split('.'))
reviews['sentences'] = reviews['sentences'].apply(lambda x: [s.strip() for s in x])

In [ ]:
s = reviews.apply(lambda x: pd.Series(x['sentences']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'sentence'
sent_tokenize_reviews = reviews.drop('sentences', axis=1).join(s).drop('text', axis = 1)
sent_tokenize_reviews.shape
sent_pred_ents = pd.read_csv("predictions_sentence.csv")

In [ ]:
from ast import literal_eval
sent_pred_ents = pd.read_csv("predictions_sentence.csv")
sent_pred_ents['entities'] = sent_pred_ents['entities'].apply(literal_eval)
sent_pred_ents['len'] = sent_pred_ents['entities'].apply(lambda x: len(x))
agg1 = sent_pred_ents.groupby(['review_id', 'business_id']).agg({'len' : 'sum'})

In [ ]:
sent_pred_ents

In [ ]:
pred_ents['entities'] = pred_ents['entities'].apply(literal_eval)
pred_ents['len'] = pred_ents['entities'].apply(lambda x: len(x))
agg2 = pred_ents.groupby(['review_id','business_id']).agg({'len':'sum'})
agg2

In [ ]:
m = agg1.merge(right = agg2, how = 'inner', on = 'review_id')

In [ ]:
m['len_x'] = pd.to_numeric(m['len_x'])
m['len_y'] = pd.to_numeric(m['len_y'])
m['check'] = abs(m['len_x'] - m['len_y'])
print(sum(m['len_x']))
print(sum(m['len_y']))

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

In [ ]:
large_diff = m[m['check'] > 3]
s = large_diff['review_id'].tolist()

In [ ]:
sent_pred_ents[sent_pred_ents['review_id'].isin(s)].to_csv("new_missing.csv")

## Similarity Between Items

In [55]:
import pandas as pd
from ast  import literal_eval
pred_ann_snt = pd.read_csv("predictions_sentence_sentiment.csv", encoding = 'utf8')
pred_ann_snt['entities'] = pred_ann_snt['entities'].apply(literal_eval)
pred_ann_snt['len'] = pred_ann_snt['entities'].apply(lambda x: len(x))

print(pred_ann_snt.shape)
pred_ann_snt.drop(pred_ann_snt[pred_ann_snt.len < 1].index, inplace=True)
pred_ann_snt.drop('len',axis=1, inplace=True)
print(pred_ann_snt.shape)

(35869, 10)
(11298, 9)

## Creating a menu

In [ ]:
menu_dict = {}
unique_b_id = pred_ann_snt['business_id'].unique()
unique_b_id

pred_ann_snt['food'] = pred_ann_snt['entities'].apply(lambda x: [a[0] for a in x])
pred_ann_snt.head()

for b_id in unique_b_id:
    menu_dict[b_id] = pred_ann_snt[pred_ann_snt['business_id'] == b_id]['food'].values.tolist()

for k in menu_dict.keys():
    print(k)
    items = set()
    for l in menu_dict.get(k, ""):
#         print(l)
        items = items.union(set(l))
    menu_dict[k] = list(items)

    
# similarity with  spacy
sim_list = []
for token1 in tokens:
    for token2 in tokens:
        sim_list.append((token1.text, token2.text, token1.similarity(token2)))

# from itertools import ifilter
filtered = [item for item in sim_list if item[2]>0.8]

In [ ]:
import csv
with open("filtered_sim_list.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(filtered)

## Similarity with substring match

In [ ]:
for k in menu_dict.keys():
    menu = menu_dict.get(k, "")
    print(len(menu))
    for item1 in menu:
        for item2 in menu:
            if len(item1) > len(item2) and item2 in item1:
                if item2 in menu:
                    menu.remove(item2)
            elif len(item2) > len(item1) and item1 in item2:
                if item1 in menu:
                    menu.remove(item1)
    menu_dict[k] = menu

#substring match
import pickle
pickle.dump(menu_dict, open( "menu_dict_substring_match.p", "wb" ))

## fuzzy match

In [56]:
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

#create a raw menu from mentions
menu_dict_fuzz = {}
unique_b_id = pred_ann_snt['business_id'].unique()
unique_b_id

pred_ann_snt['food'] = pred_ann_snt['entities'].apply(lambda x: [a[0] for a in x])
pred_ann_snt.head()

for b_id in unique_b_id:
    menu_dict_fuzz[b_id] = pred_ann_snt[pred_ann_snt['business_id'] == b_id]['food'].values.tolist()

for k in menu_dict_fuzz.keys():
#     print(k)
    items = set()
    for l in menu_dict_fuzz.get(k, ""):
        items = items.union(set(l))
    menu_dict_fuzz[k] = list(items)

print("Before Match!")
for k in menu_dict_fuzz.keys():
    print(k, len(menu_dict_fuzz.get(k, "")))
    
for k in [1111]:
    menu = menu_dict_fuzz.get(k, "")
#     print(len(menu))
    for item1 in menu:
        for item2 in menu:
            if fuzz.ratio(item1,item2)  > 80 and item1 != item2:
                print(item1," , ", item2, " score = ", fuzz.ratio(item1, item2))
                if len(item1) > len(item2):
                    if item2 in menu:
                        menu.remove(item2)
                elif len(item2) > len(item1):
                    if item1 in menu:
                        menu.remove(item1)
    menu_dict_fuzz[k] = menu

print("After match!")
for k in menu_dict_fuzz.keys():
    print(k, len(menu_dict_fuzz.get(k, "")))

Before Match!
1118 165
1116 238
1120 414
1117 185
1119 200
1126 677
1127 377
1128 637
1129 229
1130 860
1122 240
1121 123
1123 241
1124 238
1125 291
1111 342
1112 145
1113 231
1114 146
1115 284
profiterole  ,  profiteroles  score =  96
blueberry  ,  blueberry pie  score =  82
oyster  ,  oysters  score =  92
day dryaged prime ribeye steak  ,  day dryaged prime ribeye  score =  89
crispy oyster jim  ,  crispy oyster  score =  87
crispy oyster jim  ,  crispy oysters  score =  84
potato salad  ,  tomato salad  score =  83
chocolate mousse  ,  chocolate mousse cake  score =  86
cheesecake  ,  cheese cake  score =  95
sauces  ,  sauce  score =  91
potatoes  ,  potato  score =  86
lobster newburg  ,  lobster newberg  score =  93
lobster newburg  ,  & lobster newburg  score =  94
chocolate peanut butter mousse  ,  chocolate peanut butter  score =  87
fillet mignon  ,  filet mignon  score =  96
ribeye  ,  rib eye  score =  92
onions  ,  onion  score =  91
oil paintings  ,  paintings  score =  82
new york style cheesecake  ,  new york cheesecake  score =  86
mash potatoes  ,  mashed potato  score =  85
mash potatoes  ,  mashed potatoes  score =  93
filet anddelmonicosteak  ,  filet mignon anddelmonicosteak  score =  87
delmonicos streak  ,  onedelmonicosteak  score =  82
lobster newberg  ,  & lobster newburg  score =  88
mac and cheese  ,  mac n cheese  score =  92
ravioli  ,  aioli  score =  83
ribeye steak  ,  rib eye steak  score =  96
crab cakes  ,  crab cake  score =  95
mashed potato  ,  mashed potatoes  score =  93
carrots  ,  carrot  score =  92
tomato salad  ,  potato salad  score =  83
scallops  ,  scallop  score =  93
mushroom sauce  ,  mushroom lemon sauce  score =  82
whipped potatoes  ,  whipped mash potatoes  score =  86
meat  ,  meats  score =  89
day aged ribeye  ,  aged ribeye  score =  85
eggs benedict  ,  eggsbenedict  score =  96
steaks  ,  steak  score =  91
dark chocolate mousse cake  ,  chocolate mousse cake  score =  89
onedelmonicosteak  ,  delmonicos streak  score =  82
After match!
1118 165
1116 238
1120 414
1117 185
1119 200
1126 677
1127 377
1128 637
1129 229
1130 860
1122 240
1121 123
1123 241
1124 238
1125 291
1111 308
1112 145
1113 231
1114 146
1115 284

In [ ]:
#substring match
import pickle
pickle.dump(menu_dict_fuzz, open( "menu_dict_fuzzy_match.p", "wb" ))

## No similarity match!

In [ ]:
#create a raw menu from mentions
menu_dict_plain = {}
unique_b_id = pred_ann_snt['business_id'].unique()
unique_b_id

pred_ann_snt['food'] = pred_ann_snt['entities'].apply(lambda x: [a[0] for a in x])
pred_ann_snt.head()

for b_id in unique_b_id:
    menu_dict_plain[b_id] = pred_ann_snt[pred_ann_snt['business_id'] == b_id]['food'].values.tolist()

for k in menu_dict_fuzz.keys():
#     print(k)
    items = set()
    for l in menu_dict_plain.get(k, ""):
        items = items.union(set(l))
    menu_dict_plain[k] = list(items)

## Scoring metric

In [ ]:
for k in actual_menus.keys():
    print("Business id: ", k)
    menu_size = len(actual_menus.get(k, ""))
    fuzz_count = 0
    substr_count = 0
    plain_count = 0 
    fuzz_count += len(set(actual_menus.get(k, "")) & set(menu_dict_fuzz.get(k, "")))
    substr_count += len(set(actual_menus.get(k, "")) & set(menu_dict.get(k, "")))
    plain_count += len(set(actual_menus.get(k, "")) & set(menu_dict_plain.get(k, "")))
    print("Menu item found with fuzzy match - ", fuzz_count/menu_size*100)
    print("Menu item found with substring match - ", substr_count/menu_size*100)
    print("Menu item found with no similiarity match - ", plain_count/menu_size*100)

### Top K items

In [6]:
import pandas as pd
from ast  import literal_eval
pred_ann_snt = pd.read_csv("predictions_sentence_sentiment.csv", encoding = 'utf8')
pred_ann_snt['entities'] = pred_ann_snt['entities'].apply(literal_eval)
pred_ann_snt['len'] = pred_ann_snt['entities'].apply(lambda x: len(x))

print(pred_ann_snt.shape)
pred_ann_snt.drop(pred_ann_snt[pred_ann_snt.len < 1].index, inplace=True)
pred_ann_snt.drop('len',axis= 1, inplace=True)
print(pred_ann_snt.shape)

(35869, 10)
(11298, 9)

In [7]:
reviews = pd.read_csv("all_reviews.csv")
pred_ann_snt = pred_ann_snt.merge(right = reviews, how ="left", on = ["review_id", "business_id"])
pred_ann_snt.drop(['compound', 'neg', 'pos', 'neu', 'user_name', 'text','sentence'], axis = 1, inplace=True)
pred_ann_snt.head()

,review_id,business_id,entities,vader_sentiment,stars,date
0,1,1118,"[(curry, 102, 107)]",negative,3,10/30/18
1,1,1118,"[(channa bhatura curry, 6, 26), (curry, 59, 64)]",positive,3,10/30/18
2,1,1118,"[(soup, 4, 8)]",positive,3,10/30/18
3,1,1118,"[(seemingly, 125, 134)]",positive,3,10/30/18
4,2,1118,"[(cuisine, 31, 38)]",positive,4,10/11/18

In [8]:
pred_ann_snt['food'] = pred_ann_snt['entities'].apply(lambda x: [a[0] for a in x])
pred_ann_snt.drop('entities', axis = 1, inplace = True)

In [9]:
pred_ann_snt['date'] = pd.to_datetime(pred_ann_snt['date'])
pred_ann_snt['today'] = "12/6/2018" #today's date
pred_ann_snt['today'] = pd.to_datetime(pred_ann_snt['today'])
pred_ann_snt['sentiment_score'] = pred_ann_snt['vader_sentiment'].apply(lambda x: 1 if x == "positive" else 0)
pred_ann_snt['rating'] = pred_ann_snt['stars'].apply(lambda x: 1 if x>3 else 0)
pred_ann_snt['recency'] = pred_ann_snt['today'] - pred_ann_snt['date']

In [10]:
pred_ann_snt.drop(['vader_sentiment', 'stars', 'date','today'], axis = 1, inplace = True)
pred_ann_snt.head()

,review_id,business_id,food,sentiment_score,rating,recency
0,1,1118,[curry],0,0,37 days
1,1,1118,"[channa bhatura curry, curry]",1,0,37 days
2,1,1118,[soup],1,0,37 days
3,1,1118,[seemingly],1,0,37 days
4,2,1118,[cuisine],1,1,56 days

In [11]:
s = pred_ann_snt.apply(lambda x: pd.Series(x['food']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'dish'
scored_df = pred_ann_snt.drop('food', axis=1).join(s)

In [12]:
import math
lambda_val = 0
scored_df['score'] = (scored_df['sentiment_score']+scored_df['rating'])/2
# scored_df['recency'] = pd.to_numeric(scored_df['recency'])
scored_df['score_1'] = scored_df['recency'].apply(lambda x: math.exp(-lambda_val*x.days))
scored_df['score'] = scored_df['score']*scored_df['score_1']

In [13]:
scored_df['dish'][196]

196         pepper shrimp
196    incredible chicken
196          pork curries
Name: dish, dtype: object

In [14]:
new_df = scored_df.groupby(['business_id', 'dish']).agg({'score':'sum'}).reset_index()

In [39]:
new_df.reset_index()

,index,business_id,dish,score,sim_dish
0,0,1111,& lobster newburg,0.5,NaN
1,1,1111,abraham,2.0,NaN
2,2,1111,aged ribeye,1.0,NaN
3,3,1111,aioli,0.5,NaN
4,4,1111,alas,0.0,NaN
5,5,1111,apple,1.0,NaN
6,6,1111,argula,1.0,NaN
7,7,1111,asparagus,5.0,NaN
8,8,1111,bacon,2.5,NaN
9,9,1111,bacon fried rice anddelmonicopotatoes,1.0,NaN
10,10,1111,bacon mishap,0.0,NaN
11,11,1111,bacon relish,1.0,NaN
12,12,1111,baked,30.0,NaN
13,13,1111,baked broccoli,1.0,NaN
14,14,1111,banana flavored cake,0.0,NaN
15,15,1111,banana gelato,2.5,NaN
16,16,1111,banana ice cream,3.5,NaN
17,17,1111,banana sorbet,0.5,NaN
18,18,1111,bang,0.5,NaN
19,19,1111,bbq,0.0,NaN
20,20,1111,bearnaise sauce,2.0,NaN
21,21,1111,because lobster,1.0,NaN
22,22,1111,beef cheek,1.0,NaN
23,23,1111,beef short ribs,0.0,NaN
24,24,1111,beefsteak tomato,0.5,NaN
25,25,1111,beers,0.5,NaN
26,26,1111,beets,2.0,NaN
27,27,1111,belly,0.0,NaN
28,28,1111,berries,0.5,NaN
29,29,1111,bestowed,0.5,NaN
...,...,...,...,...,...
6233,6233,1130,white asparagus,2.0,NaN
6234,6234,1130,white bean cream,1.0,NaN
6235,6235,1130,white beans,1.0,NaN
6236,6236,1130,white chocolate,14.0,NaN
6237,6237,1130,white chocolate strawberry,2.0,NaN
6238,6238,1130,white cream,0.5,NaN
6239,6239,1130,white globes,1.0,NaN
6240,6240,1130,white mousse,1.0,NaN
6241,6241,1130,white mushroom caps,1.0,NaN
6242,6242,1130,white orb,2.0,NaN
6243,6243,1130,white sauce,1.0,NaN
6244,6244,1130,white truffle,1.0,NaN
6245,6245,1130,white truffle shavings,1.0,NaN
6246,6246,1130,white truffles,1.0,NaN
6247,6247,1130,wild,2.0,NaN
6248,6248,1130,wild lettuce,1.0,NaN
6249,6249,1130,wild mushrooms,2.0,NaN
6250,6250,1130,wild puffed rice,1.0,NaN
6251,6251,1130,wine,45.0,NaN
6252,6252,1130,wine parings,1.0,NaN
6253,6253,1130,wood ear,0.5,NaN
6254,6254,1130,wood ear,1.0,NaN
6255,6255,1130,wood ear pig ear,1.0,NaN
6256,6256,1130,woodear mushroom,0.5,NaN
6257,6257,1130,wrapped,1.0,NaN
6258,6258,1130,yellow,3.0,NaN
6259,6259,1130,yellow pork belly,1.0,NaN
6260,6260,1130,yellow curry sauce,1.0,NaN
6261,6261,1130,yellow flexible plastic,1.0,NaN
6262,6262,1130,yuba shrimp,2.0,NaN

In [58]:
new_df['business_id'] = pd.to_numeric(new_df['business_id'])
def sim(x):
    food_list = menu_dict_fuzz.get(x['business_id'], "")
    for item in food_list:
        if((fuzz.ratio(item, x['dish']) > 85) & (item!= x['dish'])):
            if len(item) > len(x['dish']):
                return item
        else:
            return x['dish']

new_df['sim_dish'] = new_df.apply(sim, axis = 1)

In [53]:
new_df.sort_values(['business_id', 'score'], ascending=[True, False])

,business_id,dish,score,sim_dish
312,1111,steak,109.0,steak
12,1111,baked,30.0,baked
196,1111,lobster,19.0,lobster
156,1111,filet mignon,17.0,filet mignon
314,1111,steaks,12.5,steaks
257,1111,potatoes,12.0,potatoes
86,1111,cheesecake,10.0,cheesecake
210,1111,meat,10.0,meat
89,1111,chicken,9.5,chicken
285,1111,salad,9.5,salad
340,1111,wine,9.5,wine
118,1111,creamed spinach,9.0,creamed spinach
147,1111,desserts,8.0,desserts
198,1111,lobster newberg,8.0,lobster newberg
47,1111,bread,7.5,bread
51,1111,broccoli,6.0,broccoli
67,1111,cake,6.0,cake
113,1111,crab,5.5,crab
197,1111,lobster bisque,5.5,lobster bisque
274,1111,ribeye,5.5,ribeye
7,1111,asparagus,5.0,asparagus
162,1111,fries,5.0,fries
267,1111,ravioli,5.0,ravioli
63,1111,butter,4.5,butter
69,1111,calamari,4.0,calamari
92,1111,chocolate,4.0,chocolate
187,1111,king crab,4.0,king crab
244,1111,pasta,4.0,pasta
16,1111,banana ice cream,3.5,banana ice cream
95,1111,chocolate mousse,3.5,chocolate mousse
...,...,...,...,...
6253,1130,wood ear,0.5,wood ear
6256,1130,woodear mushroom,0.5,woodear mushroom
5409,1130,eggs,0.0,eggs
5414,1130,root vegetables,0.0,root vegetables
5438,1130,babysitter,0.0,babysitter
5452,1130,bang,0.0,bang
5457,1130,bbq,0.0,bbq
5461,1130,beans,0.0,beans
5465,1130,beef short rib,0.0,beef short rib
5547,1130,burned,0.0,burned
5627,1130,chowder,0.0,chowder
5649,1130,coconut and lychee,0.0,coconut and lychee
5652,1130,coconut soup,0.0,coconut soup
5716,1130,degustation journey,0.0,degustation journey
5759,1130,fish grilled,0.0,fish grilled
5774,1130,freeze dried ice cream,0.0,freeze dried ice cream
5780,1130,fried chicken,0.0,fried chicken
5827,1130,grocery,0.0,grocery
5851,1130,huitlacoche,0.0,huitlacoche
5876,1130,lamb chop,0.0,lamb chop
5882,1130,langoustine paper,0.0,langoustine paper
5934,1130,nori roll,0.0,nori roll
5941,1130,olive cakes,0.0,olive cakes
5956,1130,orange mandarin sauce,0.0,orange mandarin sauce
6048,1130,projects,0.0,projects
6059,1130,ratings,0.0,ratings
6122,1130,seeming creepy,0.0,seeming creepy
6135,1130,short rib,0.0,short rib
6142,1130,single oyster leaf,0.0,single oyster leaf
6161,1130,steak lobster duckquailshrimpscallopscaviarfoi...,0.0,steak lobster duckquailshrimpscallopscaviarfoi...